@import "../../../style/helper/index";

// CheckBox样式
.checkbox-wrapper{
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1;
  cursor: pointer;
  color: $text_color;

  // 默认未选中状态下checkBox样式
  .box{

    .box-inner{
      border-radius: 2px;

      &::after{
        font-family: "iconfont";
        content: " ";
        color: #fff;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }

  // 选中样式
  &[data-checked=true]{
    .box{
      .box-inner{
        background-color: $primary;
        border-color: $primary;
        &::after{
          content: "\e721";
        }
      }
    }
  }

  // 半选样式
  &.indeterminate{
    .checkbox{
      .checkbox-inner {
        @include flex();
        background-color: transparent;
        &::after{
          content: ""!important;
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 2px;
          background-color: $primary;
        }
      }
    }
  }

  // 文字样式
  .checkbox-text{
    padding: 0 8px;
    color: inherit;
    user-select: none;
  }
}

