@import "../../../style/helper/index";

.btn-wrapper{
  position: relative;
  display: inline-block;
  background-image: none;
  height: 32px;
  line-height: 1.5;
  padding: 0 20px;
  user-select: none;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  background-color: $white;
  color: $title_color;
  border: 1px solid $border_color;
  outline: 0;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);

  &:hover {
    color: $primary;
    border-color: $primary;
  }

  &:active{
    opacity: 0.75;
  }

  &.btn-primary{
    color: $white;
    background-color: $primary;
    border-color: $primary;

    &:hover {
      color: $white;
    }
  }

  &.btn-warn{
    color: $white;
    background-color: $warn;
    border-color: $warn;

    &:hover {
      color: $white;
    }
  }

  &.btn-info{
    color: $white;
    background-color: $info;
    border-color: $info;

    &:hover {
      color: $white;
    }
  }

  &.btn-danger{
    color: $white;
    background-color: $error;
    border-color: $error;

    &:hover {
      color: $white;
    }
  }
  &.btn-link{
    color: $link;
    background-color: transparent;
    border-color: transparent;

    &:hover {
      color: $link;
      border-color: transparent;
      opacity: 0.75;
    }

    &:active{
      color: $primary;
      opacity: 1;
    }
  }

  &.btn-block{
    display: block;
    width: 100%;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active{
    color: rgba(0,0,0,0.25);
    background-color: $disabled;
    border-color: $border_color;
    text-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
  }


}
