@mixin flex($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}


@mixin coverScreen($position: absolute, $backColor: #fff) {
  position: $position;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: $backColor;
}

@mixin wh($width, $height: $width){
  width: $width;
  height: $height;
}
