@import "../../../style/helper/index";

.radio-wrapper{
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1;
  cursor: pointer;
  color: $text_color;

  .radio{
    display: inline-block;
    position: relative;
    top: -0.08em;
    width: 16px;
    height: 16px;
    overflow: hidden;
    vertical-align: middle;

    .radio-inner{
      position: relative;
      display: block;
      @include coverScreen();
      @include wh(100%);
      z-index: -1;
      border: 1px solid $border_color;
      border-radius: 50%;
      transition: all .3s;

      &::after{
        content: " ";
      }
    }

    input[type=radio]{
      @include coverScreen();
      @include wh(100%);
      margin: 0;
      padding: 0;
      opacity: 0;
      cursor: inherit;
    }
  }

  // 悬浮样式
  &:hover{
    .radio-inner {
      border-color: $primary;
    }
  }

  // 选中样式
  &[data-checked=true]{
    .radio{
      .radio-inner{
        //background-color: $primary;
        border-color: $primary;
        &::after{
          content: "";
          display: block;
          @include wh(8px);
          border-radius: 50%;
          background-color: $primary;
          position: absolute;
          top: 3px;
          left: 3px;
        }
      }
    }
  }

  // 不可点击样式
  &[data-disabled=true]{
    cursor: not-allowed;
    //color: $disabled;
    .radio{
      .radio-inner{
        background-color: $disabled!important;
        border-color: $border_color!important;
        &::after{
          background-color: $border_color;
        }
      }
    }
  }

  // 文字样式
  .radio-text{
    padding: 0 8px;
    color: inherit;
    user-select: none;
  }
}
