@import "../../../style/helper/index";

.radio-wrapper{
  .box{
    .box-inner{
      border-radius: 50%;

      &::after{
        content: " ";
      }
    }
  }

  // 选中样式
  &[data-checked=true]{
    .box{
      .box-inner{
        //background-color: $primary;
        border-color: $primary;
        &::after{
          content: "";
          display: block;
          @include wh(8px);
          border-radius: 50%;
          background-color: $primary;
          position: absolute;
          top: 3px;
          left: 3px;
        }
      }
    }
  }

  // 不可点击样式
  &[data-disabled=true]{
    cursor: not-allowed;
    //color: $disabled;
    .box{
      .box-inner{
        background-color: $disabled!important;
        border-color: $border_color!important;
        &::after{
          background-color: $border_color;
        }
      }
    }
  }
}
